.flex-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.flex-item {
    display: flex;
    width: calc(50% - 20px);
    background-color: aqua;
    height: 50px;
    text-align: center;
    line-height: 50px;

}
.large {
    width: calc(100% - 20px);
    height: 50px;
}
@media screen and (max-width:1024px) {
    .flex-item {width: calc(100%-20px);}
}