* {
    margin: 10px;
    border: 1px solid white;
}

.flex-container {
    display: grid;
    border: 2px solid black;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(4, minmax(80px, auto));
    gap: 12px;
}
.big {
    display: flex;
    grid-row: span 2;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
}
.item {
    display: flex;
    background-color: blue;
    color: white;
    justify-content: center;
}
