div{
color :black;
background-color: green;
width: 200px;
height: 200px;
margin: 20px;
padding-top: 5px;
}
div:hover {
    width: 200px;
    height: 200px;
    background: green;
    transform: rotate(30deg);
}