div {
    margin: 10px;
    width: 400px;
    height: 200px;
    border: 30px solid wheat;
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
}

div:hover {
    margin: 10px;
    width: 400px;
    height: 200px;
    border: 30px solid wheat;
    background-color: rgb(197, 197, 205);
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
}
.changecolor{
    margin: 10px;
    width: 400px;
    height: 200px;
    border: 30px solid wheat;
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
}
.changecolor:hover {
    margin: 10px;
    width: 400px;
    height: 200px;
    border: 30px solid wheat;
    background-color: rgb(0, 157, 255);
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
}
.grow{
    margin: 10px;
    width: 400px;
    height: 200px;
    border: 30px solid gray;
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
}
.grow:hover {
    margin: 10px;
    width: 400px;
    height: 200px;
    border: 30px solid wheat;
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 100px;
    padding-top: 100px;
}
.shrink {
    margin: 10px;
    width: 400px;
    height: 200px;
    border: 30px solid wheat;
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
}
.shrink:hover {
    margin: 10px;
    width: 400px;
    height: 200px;
    border: 30px solid wheat;
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
    transform: scaleX(1.5);
}
.rotate {
    margin: 10px;
    width: 400px;
    height: 200px;
    border: 30px solid wheat;
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
}
.rotate:hover {
margin: 10px;
    width: 400px;
    height: 200px;
    border: 30px solid wheat;
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
    transform: skewY(140deg) ;
}
.circle {
    margin: 10px;
    width: 400px;
    height: 200px;
    border: 30px solid wheat;
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
     transition: border-radius 3s;
}
.circle:hover {
    margin: 10px;
    width: 400px;
    height: 200px;
    border: 30px solid wheat;
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
     border-radius: 50%;
}
.inset {
    margin: 10px;
    width: 400px;
    height: 200px;
    border: 30px solid wheat;
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
     transition: transform 10s;
}
.inset:hover {
    margin: 10px;
    width: 400px;
    height: 200px;
    border: 30px solid blue;
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
   
}